@page
@model ChatApp.Pages.ChatRoomInteractiveModel
@{
    ViewData["Title"] = "Chat Room";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Chat Room</h1>
</div>


    <div>
        <label for="roomSelect">Select Room:</label>
        <select id="roomSelect" name="roomSelect" class="form-control" asp-for="SelectedRoom">
            @foreach (var room in Model.ChatRooms)
            {
                <option value="@room.Name">@room.Name</option>
            }
        </select>
    </div>
    <hr />

    @* <form method="post"> *@
        <div class="row p-1">
            <div class="col-1">Message</div>
            <div class="col-5">
                <input type="text" class="w-100" id="messageInput" />
            </div>
        <input type="hidden" id="userId" name="userId" value="@User.Identity.Name" />
        </div>
        <div class="row p-1">
            <div class="col-6 text-end">
                <button type="submit" id="sendButton" class="btn btn-primary">
                    Send Message
                </button>
            </div>
        </div>
    @* </form> *@
    <div class="row p-1">
        <div class="col-6">
            <hr />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
    
    @section Scripts{
        <script src="~/js/signalr/dist/browser/signalr.js"></script>
        <script src="~/js/chat.js"></script>
    }
